CLOUDAMQP_URL=amqp://guest:guest@localhost:5672/

DB_HOST=localhost
DB_PORT=5432
DB_USER=cloud_solutions
DB_PASSWORD=cloud_solutionsw
DB_NAME=cloud_solutions

OLLAMA_API_BASE=http://localhost:11434/api
OLLAMA_MODEL=phi
OLLAMA_TEMPERATURE=0.7
OLLAMA_MAX_TOKENS=2048

LOG_LEVEL=INFO